.totalLogin{
    margin-left: 10vw;
}

.forma{
    display: flex;
    align-items: flex-start;
    place-content: center;
    text-align: center;
    margin-left: 10vw;
    margin-top: 15vw;
    gap: 2.5vw;
}

.barra{
    display: block;
    width: 25vw;
    height: 50vh;
}

.msj-condiciones{
    min-height: 30vh;
}

.mensaje-error{
    display: block;
    top: 100%; 
    left: 0;
    color: #7b1010;
    font-weight: 650;
    text-shadow:0px 0px 1px rgb(119, 115, 115);
}


input{
    width: 20vw;
    height: 20px;
    border-radius: 10px;
}
.msj{
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: black;
    font-size: large;
    font-weight: 700;
}

.barraBoton{
    display: flex;
}
.botonEnviarForm{
    margin-top: 9.5vh;
    background-color: white;
    color: 07193b;
    height: 25px;
    width: 80px;
    border-radius: .5vw;
}

.botonEnviarForm:hover{
    background-color:  rgb(25, 58, 25);
    cursor: pointer;
}
.nombreEnUso{
    position: fixed;
    top:23%;
    left:12.2%
}
.passwordEnUso{
    position: fixed;
    top:23%;
    left: 38.2%;
}
p{
    font-weight: 700;
    font-family:'Nunito', sans-serif; 
}
