
.header {
    margin: 0;
    padding: 0;
    background-color: #07193b;
    width: 100vw;
    height: 6vw;
    display: flex;
    justify-content: center;
    gap: 2vw;
    position: fixed;
    top: 0;
    margin-bottom: 0vw;

}
.titulo{
    font-size: 4vw;
    color: white;
    font-weight: 600;
    text-decoration:none;
}
.logo{
    margin-top: 0.5vw;
    cursor: pointer;
    width: 5vw;
    height: 5vw;
}