
.total{
    display: flex;
    align-items: flex-start;
    place-content: center;
    text-align: center;
    gap: 5vw;
    margin-left: 11vw;
    margin-right: 11vw;
}
form{
    display: flex;
    gap: 1vw;
}

input[type="submit"]{
    background-color: hsl(254, 100%, 97%);
    color: #07193b;
    font-weight: 700;
    height: 2vw;
    width: 5vw;
    border-radius: .5vw;
}

input[type="submit"]:hover{
    background-color: #19376e;
    color: white;
    cursor: pointer;
}

.boton-eliminar{
    background-color: #07193b;
    color: aliceblue;
    height: 2vw;
    border-radius: .5vw;

}
.boton-eliminar:hover{
    background-color: #19376e;
    cursor: pointer;
}

.mensajes{
    position: fixed;
    bottom: 2vw;
}

.form-cartas{
    text-align: center;
}

.form-mazo{
    text-align: center;
    display: block;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}

.atributosCarta{
    display: flex;
    margin: 0 1vw 0 auto;
    gap: 1vw;
}

.cartaElegida{
    display: flex;
    background-color: #07193b;
    margin: 1vw;
    border: 1px solid white;
    padding-right: .5vw;
    padding-left: .5vw;
    justify-content: space-between;
    align-items: center;
    gap: 1vw;
    height: 3vw;
    border-radius: .5vw;
    
}

.tablatotal{
    max-height: 20vw;
    max-width: 45vw;
    width: 100%;
    overflow-y: auto;
    border: 2px solid white;
    display: block;
    margin: 1vw;
    border-radius: .5vw;
    box-sizing: border-box; 
    border-collapse: collapse;
    
}
.tabla{
    border-collapse: collapse;
    width: 100%;
    background-color: #19376e;
}


.tablatotal td {
  border-collapse: collapse;
  padding: 1vw 2.6vw;
  text-align: center;
  vertical-align: middle;
  background-color: #07193b;
  color: white;
}

.tablatotal td, th{
    font-weight: 500;
    border:2px solid rgb(154, 154, 154);
    text-align: center;
    vertical-align: middle;
    color: white;
}

.fila:hover td{
  background-color: #19376e;
  cursor: pointer; 
}