.formularios{
  font-style: italic;
  color:brown;
}
.resultadosback{
  border-color: aquamarine;
}
.botonEnviar{
  cursor: pointer;
  background-color: black;
  color: aliceblue;
}
.totalRegistro{
  margin: 0 30vw;
}
.fondojuego{
  background-image: url('https://kantocards.com/cdn/shop/files/P9488-290-85568_02.jpg?v=1727569225&width=722');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;   
  width: 100%;    
  color: rgb(241, 234, 234); 
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}