
.botonComenzar{
  font-size: 2vw;
  width: 30vw;
  height: 10vh;
  margin-left: 35vw;
  background-color: hsl(219, 79%, 13%);
  color: white;
}
.opcionesLateral{
  margin-top: 8vh;
  width: 20vw;
  height: 88vh;
  background-color: #19376e;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center; 
  height: 100vh; 
  gap: 35vh;
}
.tablaCentrada th{
  border: none;
}
.botonIniciar, .botonIniciarProhibido{
  width: 15vw;
  height: 10vh;
}
.seleccion{
  text-align: center;
  height: 5vh;
  width: 15vw;
  margin-left: 2vw;
  border-radius: 1vw
}