
.PagJugar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.opcionesLateral{
  margin-top: 8vh;
  background-color: #31538d;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center; 
  min-width: 50vw;
  margin-left: 25vw;
  gap: 35vh;
}

.tablaCentrada th{
  border: none;
}
.botonIniciar, .botonIniciarProhibido{
  font-size: 1.5vw;
  width: 15vw;
  height: 10vh;
}
.tdSeleccion{
  display: flex;
  justify-content: center;
  align-items: center;
}
.msjSeleccion{
  font-size: 1.5vw;
}
.seleccion{
  cursor: pointer;
  text-align: center;
  font-size: 1.5vw;
  height: 5vh;
  width: 20vw;
  color: #07193b;
  border-radius: 1vw
}
.tablero{
  background-image: url('../images/FondoTablero.png');
  background-size: 100% 100%; 
  background-position: center;
  background-repeat: no-repeat;
  
  width: 100vw;
  margin-top: 11vh;
  height: 89vh;
  display: flex;
  flex-direction: column;  /* uno arriba del otro */
  align-items: center;     /* centra horizontalmente */
  justify-content: center; /* centra verticalmente */
  gap: 15vh;

}
.filaDeCartasServer{
  display: flex;
  transform: translateY(-2.4vh);
  flex-wrap: wrap;
  justify-content: center;

}
.filaDeCartasUser{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.tituloCarta{
  font-size: medium ;
  color: rgb(127, 23, 23);
}

.etiquetaCarta{
  color: rgb(116, 57, 57);
}

.ultCartaUser{
  position: fixed;
  width: 20vw;
  right: 8vw;
  bottom: 12vh;
}

.ultCartaServer{
  position: fixed;
  width: 20vw;
  right: 8vw;
  top: 25vh;
}

.ultCartaUser, .ultCartaServer{
  
  background-color: white;
  color: #07193b;
  border-radius: .5vw;
  font-weight: 600;
  display: flex;            
  flex-direction: column;   
  justify-content: flex-start;
  vertical-align: top;     
  text-align: center;
  box-sizing: border-box;
  border: 5px groove #07193b;
  font-size: small;
  height: 27vh;
  width: 8vw;
}

.etiquetaServer{
  font-weight: 800;
}


.cartasServer{
  margin-top: 2vh;
  display: block;
  font-size: medium;
  text-align: center;
  font-weight: 600;
  height: 27vh;
  width: 8vw;
  box-sizing: border-box;
  border: 5px groove #07193b;
  background-color: #487ad7;
  color: white;
  border-radius: .5vw;
  margin-left: 1.2vw;
  margin-right: 1.2vw;
}
.botonCartas{
  display: flex;            
  flex-direction: column;   
  justify-content: flex-start;
  vertical-align: top;     
  text-align: center;
  box-sizing: border-box;
  border: 5px groove #07193b;
  font-size: small;
  height: 27vh;
  width: 8vw;
  gap: 1vh;
  margin-left: 1.2vw;
  margin-right: 1.2vw;
}
.botonCartas:hover{
  background-color: rgb(255, 255, 255);
  color: #3a4f75;
}

.botonCartas:hover .etiquetaCarta{
  color: rgb(161, 93, 93);
}

.botonCartas:hover .tituloCarta{
  color: rgb(163, 140, 28);
}
.mensajeJugada{
  position: fixed;
  width: 20vw;
  left: 2vw;
  bottom: 40vh;
  color: white;
  text-align: center;
}
.botonPlayAgain{
  position: fixed;
  left: 4.5vw;
  width: 15vw;
  height: 10vh;
  bottom: 30vh;
}