.navBar {
    margin:0;
    padding:0;    
    font-size: 1vw;
    color: rgb(248, 248, 247);
    font-weight: 600;
    background-color: hsl(219, 79%, 13%);
    width: 100vw;
    height: 4vh;
    justify-content: center;    
    text-decoration: none;
    display: flex;
    gap: 2vw;  
    margin-top: 0vw;
    align-items: center;
    position:fixed;
    top:6vw;
}
.botones button{
    gap: 5vw;  
    font-size: 1vw;
    font-weight: 600;
    height: 4vh;
    text-decoration: none;
    color:  white;
    background-color:hsl(219, 79%, 13%); 
    margin:1.5vw;   
    border-radius: .5vw;
    
}

.botones button:hover{
    background-color: #19376e;
    cursor: pointer;
}